div.org-src-container pre.src {
		padding: 0.5em;
}

.reveal p {
		margin: 5px 0;
}

span[class|=section-number] {
  display: none;
}

img {
	max-height: calc(66vh);
	max-width: calc(66vw);
}

.mini-exclaim {
		text-transform: none;
		font-size: 50%;
}

.smaller {
		font-size: 70%;
}

div.figure p img {
		height: 560px;
}

pre.language-csharp {
		font-size: 50% !important;
}

.org-src-container pre {
		margin: 0;
		width: 100%;
}

div.dog-box {
		display: flex;
}

div.dog-box div {
		width: 720px;
}

div.dog-box p {
		margin: 0;
		margin-left: 16px;
		height: 127px;
}

div.dog-box p img {
		margin: 0;
		border: 0;
		height: 100%;
		max-width: initial;
		max-height: initial;
}


.org-svg {
	border: none;
	box-shadow: none;
	max-height: calc(66vh);
	max-width: calc(66vw);
}

.criu-images img {
	height: 50%;
}

.cohn > div:nth-child(1) {
		float: left;
		width: 40%;
}

.cohn > div:nth-child(2) {
		float: right;
		width: 60%;
}

.borderless img {
		border: 0 !important;
}

.workshop img {
		width: 180%;
}

code {
		tab-sie: 4;
		-moz-tab-size: 4;
}
